body {
    background: #CCC;
    margin: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card {
    background: #FFF;
    width: 80px;
    height: 80px;
    margin: 60px 10px 10px 60px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    border-radius: 5px;
}

.card:hover,
.card:focus {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: rotateY(180deg);
}

.ripple {
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    overflow: hidden;
    -webkit-transform: scale3d(1,1,1); /* to contain zoomed ripple */
    transform: translate3d(1,1,1);
    border-radius: inherit; /* inherit from parent (rounded buttons etc) */
    pointer-events: none; /* allow user interaction */
}

.ripple-effect {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale3d(.7,.7,.7); -webkit-transform: scale3d(.7,.7,.7);
    background: #CCC;
    opacity: 0.45;
    animation: ripple 2s  forwards;
    -webkit-animation: ripple 2s forwards;
}

@keyframes ripple {
    100% {
        transform: scale3d(24,24,24);
        opacity: 0;
    }
}

@-webkit-keyframes ripple {
    100% {
        transform: scale3d(24,24,24);
        opacity: 0;
    }
}