.transient-layer {
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.transient-layer.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.transient-layer.fade.in {
    opacity: 0.75;
    z-index: 1;
}

.transient-layer-link {
    color: white;
    text-decoration: none;
    float: right;
    margin-right: 10px;
    z-index: 1;
}

.transient-layer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.close-symbol {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 38px;
    height: 50px;
    opacity: 0.8;
}
.close-symbol:hover {
    opacity: 1;
}
.close-symbol:before, .close-symbol:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 50px;
    width: 5px;
    background-color: white;
}
.close-symbol:before {
    transform: rotate(45deg);
}
.close-symbol:after {
    transform: rotate(-45deg);
}

.save-file-link {
    position: absolute;
    top: 38px;
    right: 100px;
    width: 50px;
}

.download-icon
{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;
}

.download-icon:hover {
    opacity: 1;
}

.download-icon .download-icon-span
{
    display: block;
    cursor: pointer;
    position: relative;
    height: 30px;
    margin: auto;
    border: 6px solid white;
    border-top: transparent;
}

.download-icon .download-icon-span:before,
.download-icon .download-icon-span:after
{
    content: '';
    display: block;
    position: absolute;
}

.download-icon:hover .download-icon-span:before,
.download-icon:hover .download-icon-span:after
{
    animation: bounce .5s infinite alternate;
}

.download-icon .download-icon-span:before{
    left: 15px;
    top: -9px;

    height: 10px;
    background: white;
}
.download-icon .download-icon-span:after
{
    left: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

@keyframes bounce {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}
