.accessibility-hidden {
    position: absolute;
    height: 0.01em;
    width: 0.01em;
    overflow: hidden;
}

.file-upload-link {
    z-index: 99;
    display: inline-block;
    color: #0000EE;
}

.file-upload-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.file-upload-button-container {
    display: inline-block;
}

.file-upload-button-container + .file-upload-button-container {
    margin-left: 5px;
}

.file-upload-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.add-files-icon {
    display: inline-block;
    line-height: 1;
    background: white;
    height: 12px;
    position: relative;
    width: 2.4px;
    margin: 0 9.8px 0 4.8px;
    top: 1px;
}

.add-files-icon:after {
    background: white;
    content: "";
    height: 2.4px;
    left: -4.8px;
    position: absolute;
    top: 4.8px;
    width: 12px;
}

.start-upload-icon,
.cancel-upload-icon {
    margin-right: 5px;
    font-size: 2em;
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border: 0.1em solid white;
    position: relative;
    border-radius: 0.35em;
    top: 2.5px;
}

.cancel-upload-icon-after {
    background-color: #F0AD4E;
}

.start-upload-icon-last {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid white;
    position: absolute;
    left: 1px;
    top: 0.5px;
}

.cancel-upload-icon-last {
    background-color: white;
    position: absolute;
    width: 3px;
    height: 13px;
    left: 4px;
    bottom: -1px;
    transform: rotate(45deg);
}

.file-upload-button-upload:hover .start-upload-icon-after,
.file-upload-button-upload:active .start-upload-icon-after,
.file-upload-button-upload:focus .start-upload-icon-after {
    background-color: #3071a9;
}

.file-upload-button-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.file-upload-button-success:hover,
.file-upload-button-success:active,
.file-upload-button-success:focus {
    background-color: #449d44;
    border-color: #398439;
}

.file-upload-button-upload {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

.file-upload-button-upload:hover,
.file-upload-button-upload:active,
.file-upload-button-upload:focus {
    background-color: #3071a9;
    border-color: #285e8e;
}

.file-upload-button-cancel {
    color: #FFF;
    background-color: #F0AD4E;
    border-color: #EEA236;
}

.file-upload-button-cancel:hover,
.file-upload-button-cancel:active,
.file-upload-button-cancel:focus {
    background-color: #EC971F;
    border-color: #D58512
}

.file-upload-button-cancel:hover .cancel-upload-icon-after {
    background-color: #EC971F;
}

.file-upload-unordered-list {
    padding: 0;
}

.file-upload-list-item {
    list-style: none;
    padding: 8px;
    border-top: 1px solid #DDD;
}

.file-upload-list-item:nth-child(odd) {
    background-color: #F9F9F9;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.fade.in {
    opacity: 1;
}

.hide {
    display: none;
}
