.slider {
    margin: 10% 30%;
    overflow: hidden;
    border: 1px solid;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    transition: transform 0.5s ease-out;
}

/**********************************************************************************************************************
card flip animation
**********************************************************************************************************************/
.content-wrapper {
    perspective: 1000px;
    vertical-align: top;

    /*flex slider css*/
    flex: 1 0 85%;
    padding: 10% 0 10% 5%;
}

.content {
    position: relative;
    height: 350px;
    transition: 0.5s ease-out;
    transform-style: preserve-3d;
}

.content.flipped {
    transform: rotateY(180deg);
}

.content .front {
    background-color: lightblue
}

.content .back {
    background-color: lightgreen;
}

.content .front,
.content .back {
    backface-visibility: hidden;
    -ms-backface-visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content .front,
.content.flipped .front {
    transform: rotateY(0deg);
}

.content .back,
.content.flipped .back {
    transform: rotateY(-180deg);
}

.content .front,
.content.flipped .back {
    /* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
    animation: stayvisible 0.5s both;
    -ms-animation: donothing 0.5s;
    -ms-transition: visibility 0s linear 0.17s;
    visibility: visible;
}

.content.flipped .front,
.content .back {
    /* IE Hack. Halfway through the card flip, set visibility. Keep other browsers visible throughout the card flip. */
    animation: stayvisible 0.5s both;
    -ms-animation: donothing 0.5s;
    -ms-transition: visibility 0s linear 0.17s;
    visibility: hidden;
}

@keyframes stayvisible {
    from {
        visibility: visible;
    }

    to {
        visibility: visible;
    }
}

@-ms-keyframes donothing {
    0% { }
    100% { }
}