.test-animation {
    animation: moveQuestionToLeft 0.7s ease-out both;
}

@keyframes moveQuestionToLeft {
    from {
        transform: perspective(1000px) translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: perspective(1000px) translate3d(-50%, 0, -1000px);
        opacity: 0;
    }
}