.slider {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 4px 0;
}

.slider-rail {
    display: block;
    background: #aaaaaa;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.slider-thumb {
    display: inline-block;
    height: 24px;
    width: 24px;
    position: absolute;
    background: #eeeeee;
    border: 1px solid darkgray;
    border-radius: 3px;
    top: 0px;
    left: 0px;
}